/* Algemene opmaak */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

/* Header */
header {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #f1c40f;
  text-decoration: none;
  margin-left: 10px;
}

header nav a:hover {
  color: #f39c12; /* Gouden/oranje tint bij klikken */
  text-decoration: none;
}

/* Container */
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

/* Producten grid */
.producten {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Account kaart */
.account {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  width: 250px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  text-align: center;

}

.account img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.account h4 {
  margin: 10px 0;
  font-size: 1.2em;
}

.prijs {
  font-weight: bold;
  color: #27ae60;
}

.account a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: rgb(195, 174, 16);
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.account a:hover {
  background-color: #adcfe5;
  
}
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 15px;
  width: 100%;
}
.zoekformulier {
  text-align: center;
  margin: 20px 0;
}

.zoekformulier input[type="text"] {
  padding: 8px;
  width: 250px;
  max-width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.zoekformulier button {
  padding: 8px 14px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.zoekformulier button:hover {
  background-color: #2980b9;
}

#scrollTopBtn {
  display: none;               /* Verborgen tot je scrollt */
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #007bff;   
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

#scrollTopBtn:hover {
  background-color: #0056b3;   /* Donkerder blauw bij hover */
}


